<div id = "navBarBackground" class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex align-center my-auto">
      <p class="d-flex font50 align-center mx-auto">Multi-Quiz</p>
<!-- 
      <img class="my-auto ms-auto" src="assets/images/IonicSearch.png" alt="Search Icon">
      <app-search-bar class="my-auto ms-3"></app-search-bar> -->
      <!-- <img class="my-auto ms-4 me-5" src="assets/images/CartIcon.png" alt="Cart Icon"> -->
    </div>
    <div class="col-12 botNavbar p-0 d-flex align-items-center">

    </div>
  </div>
</div>

<router-outlet></router-outlet>
